
server:
  port: 8082
  servlet:
    context-path: '/ead-course/'

spring:
  application:
    name: ead-course-service
  datasource:
    url: jdbc:postgresql://localhost:5432/ead-course-v2
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.PostgresSQLDialect
      jdbc:
        lob.non-contextual-creation: true
    properties:
      hibernate:
        show_sql: true
        format_sql: true
  output:
    ansi:
      enabled: Always
  rabbitmq:
    addresses: amqps://dubhksvm:wroi-A9PXg7DtVkmCGyOfsCmIPm5Rs63@beaver.rmq.cloudamqp.com/dubhksvm

ead:
  api:
    url:
      authuser: 'http://ead-authuser-service/ead-authuser'


eureka:
  client:
    serviceUrl:
      defaultZone: 'http://localhost:8761/eureka'
  instance:
    hostname: localhost